body {
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
  }

  b{
    font-weight: 600;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid columns */
    gap: 020px; /* Adjust spacing between grid items */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    
  }

  /*/ main page /*/
  

.disrupt {
    color: black;
    font-size: 2.43vw;
    font-weight: bold;
    position: absolute;
    left: 175px;
    top: 56px;
}

.qdes {
    color: black;
    font-size: 1.55vw;
    position: absolute;
    font-weight: 400;
    left: 91px;
    top: 27vw;
    width: 650px;
}

.disruptlogo {
    width: 55px;
    position: absolute;
    left: 6vw;
    top: 3.6vw;
    border-radius: 10px;
    transition: .35s ease-in-out
}

.disruptlogo:hover {
    transform: rotate(-45deg);
}   

.navlinks {
    font-weight: bold;
    list-style: none;
    position: absolute;
    font-size: 26px;
    top: 40px;
    left: 950px;
    z-index: 1;
}

.navlinks li {
    display: inline;
    margin-right: 65px;
}

.twico {
    width: 25px;
    position: relative;
    top: 4px;
}

.disruptdes {
    color: black;
    font-size: 3.125vw;
    width: 58.5vw;
    position: absolute;
    top: 12.5vw;
    left: 6%;
}


.desuline:hover {
    border-bottom: 3px dotted black;
}

.disruptblogo {
    width: 700px;
    position: absolute;
    left: 720px;
    top: 60px;

}

.emailentry{
    position: absolute;
    left: 6%;
    top: 73%;
}

/*/ contact page /*/

.contacttitle {
    color: white;
    font-size: 8vw;
    font-weight: bold;
    position: absolute;
    left: 30%;
    top: 5vw;
}

.backbutton{
    height: 35px;
    width: 160px;
    padding: 0px;
    position: absolute;
    top: 16%;
    left: 10%;
}

.backtxt {
    color: white;
    font-size: 2vw;
    font-weight: 600;
    position: relative;
    left: 44%;
    top: 2%;
    height: fit-content;
    width: fit-content;
}

.backtxt:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.backarrow {
    color: black;
    height: 60px;
    position: relative;
    top: -48px; 
    left: 0%;
}

.contactdes {
    color: black;
    font-size: 3.3vw;
    width: 38vw;
    position: absolute;
    top: 19.44vw;
    left: 220px;
    font-weight: 300;
}

.contact {

    position: absolute;
    top: 19.44vw;
    left: 65vw;
}

.personaltxt{
    color: black;
    width: fit-content;
    font-size: 2.77vw;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.twitter1 {
    height: 3vw;
    position: relative;
    top: 3vw;
}


.linkedin {
    height: 2.7vw;
    position: relative;
    top: 2.7vw;
    left: 3vw;
}


.email {
    height: 2.7vw;
    position: relative;
    top: 2.95vw;
    left: 6vw;
}


.disruptcontact {
    color: black;
    text-decoration: underline;
    text-underline-offset: 7px;
    font-size: 2.77vw;
    font-weight: 600;
    position: absolute;
    top: 15vw;
}

.twitter2{
    height: 3vw;
    position: relative;
    top: 18vw;
    left: -9.1vw;
}

.email2 {
    height: 3vw;
    position: relative;
    top: 18vw;
    left: -6vw;
}

/*/ about page /*/
.comingsoon {
    font-size: 50px;
    color: black;
    position: absolute;
    text-align: center;
    left: 140px;
    top: 250px;
    font-weight: 400;
    line-height: .8;
}

.patiencequote {
    font-size: 30px;
    line-height: .5;
    position: relative;
    top: 50px;
}

.emailentry2 {
    position: absolute;
    left: 35%;
    top: 70%;
}